/* TABLET */
@media screen and (max-width: 768px) {
    /* body {
        background: aqua;
    } */
     .container {
        width: 90%;
     }
      .row {
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    }
   
.col {
    flex: 0 0 calc(50% - 10px);
  max-width: calc(50% - 10px);
}

.steps .container {
    width: 100%;
    flex-wrap: wrap;
}
.steps .col {
    flex: 0 0 calc(33.333% - 13.33px);
    max-width: calc(33.333% - 13.33px);
}

.why-us .col-left img {
        max-height: 60%;
    }

}



/* MOBILE */
@media screen and (max-width: 480px) {
    /* body {
        background: black;
    } */
        .container {
            width: 90%;
        }
        .row {
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
        }
        .col {
            flex: 0 0 100%;
            flex-direction: column;
            max-width: 100%;
            gap: 20px;
        }
         .steps .col {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .why-us {
        background-color: black;
         padding-top: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
    }
    .steps {
    margin-bottom: 0;
}



}